html {
    font-size: 110%
}

:not(pre) > code {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #000;
    background-color: #eaedf0;
    font-size: .9em;
    padding: 3px;
    font-family: Consolas, "Andale  Mono", "DejaVu Sans Mono", monospace;
}

pre {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}

pre code {
    border-left: 3px solid #ccc;
    margin: 0 10px;
    background: #f9f9f9;
}

blockquote {
    background: #f9f9f9;
    border-left: 3px solid #ccc;
    margin: 1em 10px;
    padding: 0.5em 10px;
    quotes: "\201C" "\201D" "\2018" "\2019";
}

blockquote p {
    display: inline;
}

:not(h1):not(h2) + h3 {
    margin-top: 1em;
}

p {
    margin-bottom: 8px;
    margin-top: 8px;
}

p + pre {
    margin-top: 0;
}

#main-content {
    margin-top: 1em;
}

.article-summary {
    margin-bottom: 1em;
}

#beta-tag {
    position: absolute;
    font-size: 0.4em;
    transform: rotate(20deg) translateX(-1em);

    border-radius: 2em;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;

    color: #0277BD;
    transition: background .15s;
    padding: .4em;
}

#beta-tag:hover {
    background-color: hotpink;
}

h1, h2 {
    margin-bottom: .5em;
}

p, h3, h4, h5, h6 {
    margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1em;
}

p {
    line-height: 1.6;
}

.container {
    padding-bottom: 1em;
    padding-top: 1em;
}

a {
    color: #0277BD;
}

a:hover {
    color: #e18e07;
}

.nav-item {
    border-radius: 2em;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
    transition: background .15s;
    font-size: 1em;
}

.nav-item:hover {
    background-color: rgba(2, 119, 189, 0.21);
}

.nav-item a:hover {
    color: #0277BD;
}

.article-detail-date {
    margin-top: -1em;
    font-size: .8em;
    text-align: start;
    font-weight: 600;
    color: #0277BD;
}

.article-preview-date {
    font-size: .8em;
    text-align: end;
    font-weight: 600;
    color: #0277BD;
}

#main-content img {
    max-width: 90%;
    margin: 0 auto;
    display: block;
}
